$mainTextColor: #F3944E

@mixin fullScreen
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%

@mixin flexCenter
	display: flex
	justify-content: center
	align-items: center

.buttonHightlight
	width: 480rpx
	height: 90rpx
	margin-top: 40rpx
	background-image: linear-gradient(-180deg, #FEF3AA 0%, #FFE888 100%)
	border: 2rpx solid #FDE8A7
	border-radius: 200rpx
	color: #F3944E

.inputBorder
	border-box: box-sizing
	padding-left: 40rpx